*
{
    margin: 0;
    padding: 0;
}

html
{
	scroll-behavior: smooth
}

a
{
    color: black;
    text-decoration: none;
}

.Ipari
{
    float: right;
    margin: 15px;
}

.menusav
{
    z-index: 50;
    top: 0;
    width: 100%;
    height: 75px;
    position: sticky;
    background-color: grey;
    float: left;
}

.lista_menu
{
    float: left;
    list-style: none;
    width: 75%;
}

.lista_elemek
{
    float: left;
    padding: 20px;
    margin: 5px;
    background-color: rgba(235, 213, 20, 0.4);
}

.lista_elemek:hover
{
    float: left;
    padding: 20px;
    margin: 5px;
    background-color: rgb(235, 214, 20);
}

.lista
{
    list-style: none;
    width: 75%;
    margin: 5% auto;
}

.kep
{
    height: 50px;
    margin: 15px;
    float: right;
}

.cim
{
    text-align: center;
    color: black;
    font-size: 58px;
}

.szoveg
{
    width: 75%;
    margin: 5% auto;
}

.szin_a
{
    background-color: rgba(27, 181, 224, 0.76);
}

.szin_b
{
    background-color: rgba(233, 39, 39, 0.781);
}

.szinc
{
    background-color: rgba(230, 227, 30, 0.767);
}

.container
{
    margin: auto 15%;
    border: solid 2px;
}

.elvalaszto2
{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: green;
}

.elvalaszto3
{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: blue;
}

.elvalaszto4
{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: purple;
}

.elvalaszto5
{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: chartreuse;
}

.elvalaszto6
{
    z-index: -1;
    overflow: hidden;
    height: 500px;
    width: 100%;
    padding-bottom: 75px;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: magenta;
}

.elvalaszto7
{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    width: 100%;
    border: solid 2px;
    text-align: center;
    filter: brightness(50%);
    background-color: blueviolet;
}

table
{
    border: 2px solid;
}

table td
{
    width: 50%;
    border: 2px solid;
    transition: 1.5s;
}

table td:hover
{
    transition-timing-function: ease-in-out;
    background-color: royalblue;

}

.footer
{
    margin-top: 25px;
    height: 50px;
    width: 100%;
    background-color: grey;
}

.vegy
{
    z-index: 10;
    background-image: url(kepek/chemist.jpg);
    background-position: center;
    background-size: cover;
}

.korny
{
    z-index: 10;
    background-image: url(kepek/korny.jpg);
    background-position: center;
    background-size: cover;
}

.info
{
    z-index: 10;
    background-image: url(kepek/info.jpg);
    background-position: center;
    background-size: cover;
}

.mecha
{
    z-index: 10;
    background-image: url(kepek/mecha.jpg);
    background-position: center;
    background-size: cover;
}

.gep
{
    z-index: 10;
    background-image: url(kepek/gepesz.jpg);
    background-position: center;
    background-size: cover;
}

.muanyag
{
    z-index: 10;
    background-image: url(kepek/lego.jpg);
    background-position: center;
    background-size: cover;
}

.baba
{
    z-index: 1;
    background-image: url(kepek/bab.jpg);
    background-position: center;
    background-size: cover;
}